<!DOCTYPE html>
<html ng-app="MyApp">
<head>
<meta charset="UTF-8"></meta>

<!-- Libreria CCS bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<!-- Libreria CCS propia del aplicativo -->
<link rel="stylesheet" href="../../css/style.css"></link>

<!-- Libreria Jquery - requerida por boopstrap -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Libreria bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Libreria angularJS -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

<!-- Libreria propia del aplicativo -->
<script src="../../js/app.js"></script>
<script src="../../js/service.js"></script>

<title>Campeones Mundiales</title>
</head>
<body ng-controller="MyController">
	<h1>Campeonatos Mundiales de Futbol</h1>
	<hr></hr>
	    <div class="row">
        <div class="col-sm-3">
            <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Campeonatos</a>
            <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
              <li ng-click="getAllChampions()" class="active"><a href="#vtab1" data-toggle="tab">Todos</a></li>
              <li ng-click="hideTable()"><a href="#vtab2" data-toggle="tab">Por año</a></li>
              <li ng-click="hideTable()"><a href="#vtab3" data-toggle="tab">Por cantidad de ganados</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
                    <pre>
	                    <table class="table table-striped" ng-show="showData">
						            <thead>
						              <tr>
						                <th>AÑO</th>
						                <th>SEDE</th>						                
						                <th>CAMPEÓN</th>
						                <th>RESULTADO</th>
						                <th>SUB-CAMPEÓN</th>
						              </tr>
						            </thead>
						            <tbody>
						              <tr ng-repeat = "champion in champions">
						                 <td>{{champion.year}}</td>
							               <td>{{champion.headquarter}}</td>
							               <td>{{champion.championName}}</td>
							               <td>{{champion.result}}</td>
							               <td>{{champion.subChampionName}}</td>
						              </tr>
						            </tbody>
						          </table>
                    </pre>                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="vtab2">
	                <div>
             				Año del campeonato: 
             				<select ng-model="param" ng-options="year for year in years"></select>
             				<button ng-click="getChampionByYear()">Consulta</button>
             			</div>	                		
	                <pre>
                      <table class="table table-striped" ng-show="showData">
						            <thead>
						              <tr>
						                <th>AÑO</th>
						                <th>SEDE</th>						                
						                <th>CAMPEÓN</th>
						                <th>RESULTADO</th>
						                <th>SUB-CAMPEÓN</th>
						              </tr>
						            </thead>
						            <tbody>
						              <tr ng-repeat = "champion in champions">
						                 <td>{{champion.year}}</td>
							               <td>{{champion.headquarter}}</td>
							               <td>{{champion.championName}}</td>
							               <td>{{champion.result}}</td>
							               <td>{{champion.subChampionName}}</td>
						              </tr>
						            </tbody>
						          </table>
					          </div>	                			
                 </pre>
							  <div role="tabpanel" class="tab-pane fade in" id="vtab3">
							    <div>
             				Cantidad de torneos ganados: 
             				<select ng-model="param" ng-options="qty for qty in qtys"></select>             				
             				<button ng-click="getChampionsByWins()">Consulta</button>
             			</div>	                			               
                	<pre>
	                    <table class="table table-striped" ng-show="showData">
						            <thead>
						              <tr>
						                <th>AÑO</th>
						                <th>SEDE</th>						                
						                <th>CAMPEÓN</th>
						                <th>RESULTADO</th>
						                <th>SUB-CAMPEÓN</th>
						              </tr>
						            </thead>
						            <tbody>
						              <tr ng-repeat = "champion in champions">
						                 <td>{{champion.year}}</td>
							               <td>{{champion.headquarter}}</td>
							               <td>{{champion.championName}}</td>
							               <td>{{champion.result}}</td>
							               <td>{{champion.subChampionName}}</td>
						              </tr>
						            </tbody>
						          </table>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
